definition.asl.json
{
  "Comment": "Workflow criado por Kamily Santos para o desafio DIO de AWS Step Functions.",
  "StartAt": "ValidarEntrada",
  "States": {
    "ValidarEntrada": {
      "Type": "Pass",
      "Result": "Payload validado com sucesso",
      "Next": "ExecutarLambda"
    },
    "ExecutarLambda": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:REGIAO:ID_DA_CONTA:function:NomeDaFuncaoLambda",
      "ResultPath": "$.resultadoLambda",
      "Next": "Notificar"
    },
    "Notificar": {
      "Type": "Pass",
      "Result": "Notificação simulada enviada com sucesso",
      "Next": "Finalizar"
    },
    "Finalizar": {
      "Type": "Succeed"
    }
  }
}